extends base.pug


block content
    h1 Change Title of video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(placeholder="Description", required, value=video.description ,type="text", name="description", minlength="20")
        input(placeholder="Hashtags, seperated by comma", required, value=video.hashtags.join() ,type="text", name="hashtags")
        input(value="Save", type="submit")