extends base.pug


block content
    video(src="/" + video.fileUrl, controls, width="500", height="500")
    div
        p=video.description
        small=video.createdAt
    if String(video.owner) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
